<a href="https://colab.research.google.com/github/Digvijay78/practice-github/blob/master/Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
print(2+3)

5

In [ ]:
2**4

16

In [ ]:
#to sqaure root

4**0.5

2.0

In [ ]:
#multiplications happens first then addition
2+10 * 10+3

105

In [ ]:
#python is a dynamic programming languages so you dont need to define the type of the variables

a = 5
print(a)

5

In [ ]:
print(a+a)

10

In [ ]:
#we can reasign the variables
a = a *5

In [ ]:
# rules in varibales to follow
#you cannot start the variable name with number for eg..  2a = 5
#you cannot start with sybols

In [ ]:
# multiply integer to floating result will be in floating

myIncome = 5.5
myTax = 2
total = myIncome * myTax
total

11.0

In [ ]:
#STRINGS

In [ ]:
#you can use double quote as we as single quote

name = "digivjay"
name2 = 'prakahr'

print(name)
print(name2)

digivjay
prakahr

In [ ]:
#Indexing

mystring = 'abcdefg'
print(mystring)

abcdefg

In [ ]:
print(mystring[0])

a

In [ ]:
mystring[-1]

'g'

In [ ]:
#slicing
mystring[2:] #from 2nd index to the end of the string

'cdefg'

In [ ]:
mystring[:4] #from starting to before the 4

'abcd'

In [ ]:
mystring[2:5] #from staring index which inlcude 2 to just before the 5th index means 5th index doesn't include

'cde'

In [ ]:
mystring[::1] #it means everything from start to end

'abcdefg'

In [ ]:
mystring[::2] #it means it will return everything in the gap of two

'aceg'

In [ ]:
#string are immutable, means you cant change
#mystring[0] = "x"

In [ ]:
#you can define the whole string but it will erase the previous string

mystring = "mnopqr"
mystring

'mnopqr'

In [ ]:
#to upper case the letter
x = mystring.upper()
x

'MNOPQR'

In [ ]:
x.lower()

'mnopqr'

In [ ]:
x.capitalize()

'Mnopqr'

In [ ]:
word = "hello world django"
word.split() #it will split on spaces

['hello', 'world', 'django']

In [ ]:
word.split('e') #e will pops out and h will be alag and baaki ki string alag

['h', 'llo world django']

In [ ]:
x = "Insert another string here: {}".format("HEY")
x #it will insert HEY inside the curly bracet

'Insert another string here: HEY'

In [ ]:
y = "Item one :{} Item two : {} ". format("dog" , "cat")
y

'Item one :dog Item two : cat '

In [ ]:
z = "Item one :{x} Item two :{y}".format(x ="zebra" , y = "elephant" )
z

'Item one :zebra Item two :elephant'

In [ ]:
#LIST

In [ ]:
myList = [1,2,3]
mylist2 = [1,2,'dfsd',5.4,True, [6,7,8]]
mylist2

[1, 2, 'dfsd', 5.4, True, [6, 7, 8]]

In [ ]:
print(len(mylist2))

6

In [ ]:
mylist =['a','b','c','d']
print(mylist[2])

c

In [ ]:
mylist[1:]

['b', 'c', 'd']

In [ ]:
mylist[1:3]

['b', 'c']

In [ ]:
#list are mutable
mylist[0] = 'z'

In [ ]:
mylist

['z', 'b', 'c', 'd']

In [ ]:
#to add the item in the end of the list
mylist.append("new item")
mylist

['z', 'b', 'c', 'd', 'new item']

In [ ]:
mylist.append([1,2,3])
mylist
mylist.extend([5,6,7]) #see the difference it will add the new list as the original list
mylist

['z', 'b', 'c', 'd', 'new item', [1, 2, 3], 5, 6, 7]

In [ ]:
#to remove the item inside the list
item = mylist.pop()
mylist

['z', 'b', 'c', 'd', 'new item', [1, 2, 3]]

In [ ]:
item

5

In [ ]:
list1 = ['a','b','c','d','e','f']
item = list1.pop()
print(list1)
print(item)
#see item stores the pop out element, and it get reflect in the orginal array

['a', 'b', 'c', 'd', 'e']
f

In [ ]:
list1.pop(2) #it will pop out the element in the index of 2
list1  # means c will gone

['a', 'b', 'd', 'e']

In [ ]:
#to reverse
list1.reverse()
print(list1)

['e', 'd', 'b', 'a']

In [ ]:
list2 = [4,2,77,36,98,444,888]
list2.sort()
list2

[2, 4, 36, 77, 98, 444, 888]

In [ ]:
mylist3 = [1,2,[4,5,6,7]]
print(mylist3[2])

[4, 5, 6, 7]

In [ ]:
print(mylist3[2][2]) # to get the element inside the nested list

6

In [ ]:
#Dictionaries are Python's Hash Table (object in javascript)
# They allow us to create a "mapping" with key-value pairs

In [ ]:
my_stuff = {"key1": "value",
            "key2": 123,
            "key3": 34.5,
            "key4": True,
            'key5': {'123':[1,2,'grabme']}
            }
print(my_stuff['key1'])   #you cannot call the values in dictinoaries with like------->>  my_stuff.key1
print(my_stuff['key5']['123'][2])

value
4

In [ ]:
print(my_stuff['key5']['123'][2].upper()) #it is working in otger complier

AttributeError: 'int' object has no attribute 'upper'

In [ ]:
# tuples are immutable in sequences
#Sets are unordered collection of unique collection
# Booleans are just True and False
#

In [ ]:
#Booleans
#TRUE   #T needs to be capital
#False   #F needs to be capital

In [ ]:
#Tuples
t = (1,'friend', 1.5) #they are immutable list, means they cant be change
print(t[1])

#String and tuples are immutable

friend

In [ ]:
#Sets
#They are unordered
#They are unique

x = set()
x.add(1)
x.add(2)
x.add(0.01)
x.add(1)
x.add('hello')
print(x)

{1, 2, 0.01, 'hello'}

In [ ]:
s = set([1,5,6,6])
s #observe how they get in the curcly bracket

{1, 5, 6}

In [ ]:
a = 67
name = "sammy"
print("Hello my name is {x} I am {y} years old".format(x = name, y = a))

Hello my name is sammy I am 67 years old

In [ ]:
#if else statement and intentation
if 1<2:
  print("yes")

yes

In [ ]:
if 1>2:
  print("hello")
elif 3==3:
  print("elif ran")
else :
  print("Last")

elif ran

In [ ]:
seq = [1,2,3,4,5,6]

for item in seq:
  print(item)

1
2
3
4
5
6

In [ ]:
d = {"key1": "value",
            "key2": 123,
            "key3": 34.5,
            "key4": True,
            'key5': "friend"}

for item in d:
  print(item, d[item])

key1 value
key2 123
key3 34.5
key4 True
key5 friend

In [ ]:
x = [1,2,3,4,5]

output = [num**2 for num in x]
print(output)

[1, 4, 9, 16, 25]

In [ ]:
y = [6,7,8,9]

out=[]
for item in y:
  out.append(item**2)
print(out)

[36, 49, 64, 81]

In [ ]:
list1 = [1,2,3,4,5,6,7,8]

def even(num):
  return num%2==0

even = filter(even,list1)
even
#print(list(even))

In [ ]:
even_num = filter(lambda num: num%2==0 , list1)
print(list(even_num))

[2, 4, 6, 8]

In [ ]:
list12 = [1,2,3,4,5]

def even(num):
  return num%2==0

result1 = filter(even , list12)

print(list(result1))

[2, 4]

In [ ]:
result23 = filter(lambda num:num%2==0, list12)
print(list(result23))

[2, 4]

In [ ]:
nums = [1,1,2,3,1]

# def arrayCheck(nums):


# print(list(range(len(nums)-2)))
# print(list(len(nums)-2))

def arrayCheck(nums):

  for i in range(len(nums)-2):
    if nums[i] ==1 and nums[i+1] == 2 and nums[i+2] == 3:
      return True
  return False

arrayCheck(nums)
# dekho hamne yaha range kyu use kiya, kyuki agar ham sirf len(nums)-2 krte toh wo return kr rha hai sirf ek integer 3...... but hame irtrate krna hai toh ek integer pe kaise kre
# toh sirf agar ham dekhe ki range(len(nums)-2) toh hame list deri hai teen element jispe ham itrate krke for loop ko run kr skte hai

True

In [ ]:
str = "Heeololeo"
def stringBits(str):
  str1 =""
  for i in range(len(str)):
    if i%2 == 0:
      str1 = str1 + str[i]

  return str1
str1 = stringBits(str)
print(str1)

Hello

In [ ]:
def other_check(a,b):
  a = a.lower()
  b = b.lower()

  if a[-1] == b[-1] and a[-2] == b[-2] and a[-3] == b[-3]:
    return True
  return False

t1=other_check('Hiabc', 'abc')
t2=other_check('AbC', 'HiaBc')
t3=other_check('abc', 'abXabc')
t4=other_check('abc', 'abXabcc')

print(t1)
print(t2)
print(t3)
print(t4)

True
True
True
False

In [ ]:
a = "Hiabc"
b= "abc"

print(a[-len(b):])
print(a[-3])
print(a[-3:])

abc
a
abc

In [ ]:
str = "THE"
def doubleChar(str):
  result =""
  for i in range(len(str)):
    result = result + str[i] + str[i]
  return result

result = doubleChar(str)
print(result)

TTHHEE

In [ ]:
def no_teen_sum(a,b,c):

  return fix_teen(a) + fix_teen(b) + fix_teen(c)

def fix_teen(n):
  if n ==13 or n==14 or n==17 or n==18 or n==19:
    return 0
  return n
print(no_teen_sum(1,2,3))
print(no_teen_sum(1,2,13))
print(no_teen_sum(1,15,3))

6
3
19

In [ ]:
num = [2,1,2,3,4]

def even(num):
  result = filter(lambda num:num%2==0, num)
  return result

print(list(even(num)))

[2, 2, 4]

In [ ]:
num = [2,1,2,3,4]

def even(num):
  count = 0

  for i in range(len(num)):
    if num[i]%2==0:
      count = count+1
  return count
print(even(num))

3

In [ ]:
print("hello world")

hello world

In [ ]:
class Sample():
  pass

x = Sample()
print(type(x))

<class '__main__.Sample'>

In [ ]:
class Dog():

  def __init__(self,breed):
    self.name = breed

myDog = Dog("LAb")
print(myDog.name)

LAb

In [ ]:
# class Circle():
#   pie = 3.14
#   def __init__(self, radius =1):
#     self.area = self.pie*radius*radius #when you are using the varible you have to use the word self

# myc = Circle(2)
# print(myc.area)

12.56

In [ ]:
class Circle():
    pie = 3.14
    def __init__(self,radius = 1):
      self.radius = radius

    def area(self):
      self.v = 1
      return self.radius*self.radius*Circle.pie*self.v

myc= Circle(2)
print(myc.area())

12.56

In [ ]:
class Book():

  def __init__(self,subject,author,pages):
    self.subject = subject
    self.author = author
    self.pages = pages

  def __str__(self):
    return "Title :{}".format(self.subject)

myb = Book("Django", "jose", 200)
print(myb)
myb

Title :Django

In [ ]:
from random import shuffle

In [ ]:
suite = 'H D S C'.split()
print(suite)
ranks = '2 3 4 5 6 7 8 9 10 J Q K A'.split()
print(ranks)

['H', 'D', 'S', 'C']
['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [ ]:
myCards = []

for r in ranks:
  for s in suite:
    myCards.append((s,r))

print(len(myCards))

# shuffle(myCards)
print(myCards)

52
[('H', '2'), ('D', '2'), ('S', '2'), ('C', '2'), ('H', '3'), ('D', '3'), ('S', '3'), ('C', '3'), ('H', '4'), ('D', '4'), ('S', '4'), ('C', '4'), ('H', '5'), ('D', '5'), ('S', '5'), ('C', '5'), ('H', '6'), ('D', '6'), ('S', '6'), ('C', '6'), ('H', '7'), ('D', '7'), ('S', '7'), ('C', '7'), ('H', '8'), ('D', '8'), ('S', '8'), ('C', '8'), ('H', '9'), ('D', '9'), ('S', '9'), ('C', '9'), ('H', '10'), ('D', '10'), ('S', '10'), ('C', '10'), ('H', 'J'), ('D', 'J'), ('S', 'J'), ('C', 'J'), ('H', 'Q'), ('D', 'Q'), ('S', 'Q'), ('C', 'Q'), ('H', 'K'), ('D', 'K'), ('S', 'K'), ('C', 'K'), ('H', 'A'), ('D', 'A'), ('S', 'A'), ('C', 'A')]

In [ ]:
# mycards = []

# for r in ranks:
#   for s in suite:
#     mycards.append((s,r))

# print(mycards)

# shortcut to do that..... mycards = [(s,r) for r in ranks for s in suite ]

[('H', '2'), ('D', '2'), ('S', '2'), ('C', '2'), ('H', '3'), ('D', '3'), ('S', '3'), ('C', '3'), ('H', '4'), ('D', '4'), ('S', '4'), ('C', '4'), ('H', '5'), ('D', '5'), ('S', '5'), ('C', '5'), ('H', '6'), ('D', '6'), ('S', '6'), ('C', '6'), ('H', '7'), ('D', '7'), ('S', '7'), ('C', '7'), ('H', '8'), ('D', '8'), ('S', '8'), ('C', '8'), ('H', '9'), ('D', '9'), ('S', '9'), ('C', '9'), ('H', '10'), ('D', '10'), ('S', '10'), ('C', '10'), ('H', 'J'), ('D', 'J'), ('S', 'J'), ('C', 'J'), ('H', 'Q'), ('D', 'Q'), ('S', 'Q'), ('C', 'Q'), ('H', 'K'), ('D', 'K'), ('S', 'K'), ('C', 'K'), ('H', 'A'), ('D', 'A'), ('S', 'A'), ('C', 'A')]

In [ ]:
class Deck():

  def __init__(self):
    print("Creating New Ordered Decks!")
    self.mycards = [(s,r) for s in suite for r in ranks]

  def shuffle(self):
    print("Shuffling Deck")
    shuffle(self.mycards)

  def split_in_half(self):
    print("Split the Deck into Half")
    return (self.mycards[:26], self.mycards[26:])


class Hand:

  def __init__(self , cards):
    self.cards = cards

  def __str__(self):
    return "Contains {} cards".format(len(self.cards))

  def add(self, added_cards):
    self.cards.extend(added_cards)

  def remove_card(self):
    return self.cards.pop()

class Player:

  def __init__(self,name,hand):
    self.name = name
    self.hand = hand

  def play_card(self):
    drawn_card = self.hand.remove_card()
    print("{} has placed: {}".format(self.name, drawn_card))
    print("\n")
    return drawn_card

  def remove_war_cards(self):
    war_cards = []

    for x in range(3):
      war_cards.append(self.hand.remove_cards())
      return war_cards

  def still_has_cards(self):

    return len(self.hand.cards != 0)

In [ ]:
###########
#GAME PLAY#
###########


#create new deck and split it in half:
d = Deck()
d.shuffle()
half1,half2  = d.split_in_half()

#create both players!
comp = Player("computer", Hand(half1))

name = input("what is your name?")
user = Player(name,Hand(half2))

total_rounds =0
war_count = 0

while user.still_has_cards() and comp.still_has_cards():
  total_rounds += 1
  print("Time for a new round!")
  print("here are the current standings")
  print(user.name +"has the count: "+str(len(user.hand.cards)))
  print(comp.name +"has the count: "+str(len(user.hand.cards)))

Creating New Ordered Decks!
Shuffling Deck
Split the Deck into Half

KeyboardInterrupt: Interrupted by user

In [ ]:
print(type(half2))

<class 'list'>

In [ ]:
import re

patterns = ["term 1" , "term 2"]

text = "This is the string for the term 1"

for pattern in patterns:
  print("we are looking for the {}". format(pattern))

  if re.search(pattern,text):
    print("Match")
  else:
    print('No match')

we are looking for the term 1
Match
we are looking for the term 2
No match

In [ ]:


def match (pattern, text):

  for pat in pattern:
    print('Searching for the pattern {}'. format(pat))
    print(re.findall(pat , text))

text = "This is my textBook! How are you? I am doing good. oky then Thank you! hahah! bye."
pattern = ['[^!?.]+']
print(match(pattern,text))

Searching for the pattern [^!?.]+
['This is my textBook', ' How are you', ' I am doing good', ' oky then Thank you', ' hahah', ' bye']
None

In [ ]:
text = "This is my textBook! How are you? I am doing good. oky then Thank you! hahah! bye."
pattern = ['[a-z]+']

def match(pattern, text):

  for pat in pattern:
    print("Searching for the Pattern {}".format(pat))
    print(re.findall(pat, text))
    pritn("\n")

print(match(pattern,text))

Searching for the Pattern [a-z]
['h', 'i', 's', 'i', 's', 'm', 'y', 't', 'e', 'x', 't', 'o', 'o', 'k', 'o', 'w', 'a', 'r', 'e', 'y', 'o', 'u', 'a', 'm', 'd', 'o', 'i', 'n', 'g', 'g', 'o', 'o', 'd', 'o', 'k', 'y', 't', 'h', 'e', 'n', 'h', 'a', 'n', 'k', 'y', 'o', 'u', 'h', 'a', 'h', 'a', 'h', 'b', 'y', 'e']


None